@model ReviewSite.Models.Review

@{
    ViewBag.Title = "Details";
}
<div class="jumbotron">
    <h1>Details</h1>
</div>

<h4>Review</h4>
<table class="tablel table-striped">
    <tr>
        <td>@Html.DisplayNameFor(model => model.Title)</td>
        <td>@Html.DisplayFor(model => model.Title)</td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(model => model.Author)</td>
        <td> @Html.DisplayFor(model => model.Author)</td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(model => model.Category.Name)</td>
        <td>@Html.DisplayFor(model => model.Category.Name)</td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(model => model.Rating)</td>
        <td> @Html.DisplayFor(model => model.Rating)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.PublishedDate)</td>
        <td> @Html.DisplayFor(model => model.PublishedDate)</td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(model => model.Content)</td>
        <td>@Html.DisplayFor(model => model.Content)</td>
    </tr>
</table>
<p>
    <button>@Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID })</button>
    <button>@Html.ActionLink("Back to List", "Index")</button>
</p>
