@model IEnumerable<ReviewSite.Models.Review>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Reviews</h1>
</div>

<p>
    <button>@Html.ActionLink("Create New", "Create")</button>
</p>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <h4>@Html.DisplayNameFor(model => model.Author) :   @Html.DisplayFor(modelItem => item.Author)</h4>
                <h4> @Html.DisplayNameFor(model => model.Rating) :  @Html.DisplayFor(modelItem => item.Rating)</h4>
                <h4>@Html.DisplayNameFor(model => model.PublishedDate) : @Html.DisplayFor(modelItem => item.PublishedDate)</h4>
                <button>@Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) </button>
                <button>@Html.ActionLink("Details", "Details", new { id = item.ReviewID }) </button>
                <button>@Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })</button>
            </div>
        </div>
    </div>
    }
</div>